@{
    ViewData["Title"] = "Decode";
}

<div class="text-center" data-bs-theme="dark">
    <h1 class="display-4">Image steganography - Encode</h1>
    <hr />
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <p>Upload an image to decode a message.</p>
        <form id="inputForm" method="post" asp-controller="ImageSteganography" asp-action="DecodeMessageFromImage" enctype="multipart/form-data" target="_blank">
            <input type="file" name="imageFile" id="imageFile" accept="image/png, image/jpeg" />
            <br />
            <br />
            <div>
                <button type="button" id="submitButton" class="btn btn-dark">Decode message</button>
            </div>
            <br />
            <br />
            <div class="shadow-lg p-3 mb-5 bg-light-subtle rounded" id="responseContainer"><label>Decoded message:</label></div>
        </form>
    </div>
</div>



<script>
    document.getElementById("submitButton").addEventListener("click", async (event) => {

        const form = document.getElementById('inputForm');
        const formData = new FormData(form);

        const response = await fetch(form.action, {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            const decodedMessage = await response.text();
            document.getElementById("responseContainer").innerText = "Decoded message: " + decodedMessage;
            document.getElementById("responseContainer").classList = "shadow-lg p-3 mb-5 bg-success rounded";

        } else {
            window.location.href = "/Home/Error/";
        }

    });
</script>