<html>
    <head>
    </head>
    <body>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center" data-bs-theme="dark">
            <p>Image will be downloaded shortly...</p>
            <button onclick="location.href='/Home';" class="btn btn-dark">Do another one</button>
        </div>
    </body>
</html>

<script>
    (function(){
        
    })();
</script>