@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center" data-bs-theme="dark">
    <h1 class="text-danger">Error while processing request.</h1>
    <p class="text-danger">Image file must be present and valid.</p>
    <p class="text-danger">Message must be present.</p>
    <p class="text-danger">Message must fit in the image. Each character in the message takes up 2 pixels in the image.</p>
    <button onclick="location.href='/Home';" class="btn btn-dark">Home</button>
</div>